.detailsCardContainer {
  height: 667px;
  border-right: 8px solid var(--mainThemeColor);
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 925px) {
    width: 100%;
    border-right: none;
    margin-bottom: 32px;
  }
}
